.bg-cover{
  background-image: url(../images/bg-signin.png);
  background-size: cover;
  position: relative;
  height: 100vh;
}
.form-popup{
  width: 500px;
  max-width: 100%;
  max-height: 550px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  .form-header{
    text-align: center;
    .logo{
      width: 80%;
    }
  }
  .form-body{
    margin-top: 40px;
    .form-group{
      margin-bottom: 30px;
    }
    .form-control{
      @include border-radius(4px);
    }
    .buttons{
      .btn{
        font-size: 24px;
        margin-top: 20px;
        font-weight: 500;
        padding-left: 25px;
        padding-right: 25px;
      }
    }
  }
  .form-footer{
    margin-top: 20px;
    a{
      text-decoration: underline;
      color: #f5f0f0;
      font-weight: 500;
    }
  }
}
#loginPage{
  color: #ffffff;
  label{
    font-size: 18px;
    font-weight: 500;
  }
  input::placeholder{
    color: #090909;
  }
}